body {
    font-family: "Times New Roman", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}

.game-info {
    align-self: flex-start;
    margin-left: 20%;
    margin-bottom: 20px;
    font-size: 18px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    border: 1px solid #000;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: sans-serif;
}

.cell:hover{
    background-color: rgb(109, 199, 255);
}

.cell img{
    width: 70%;  
    height: 70%;
    object-fit: contain; 
    pointer-events: none; /*Fix: bấm ảnh*/
}

.board {
    border: none;
}

.cell {
    border: 1px solid #ccc;
    border-color: #000;
    margin-right: -1px;
    margin-bottom: -1px;
}

/*Màu nền nếu thắng*/
.win-cell {
    background-color: rgb(109, 199, 255);
}

.controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
}

#btn-start {
    background-color: #4ade80;
    color: #000;
}

#btn-start:disabled {
    background-color: #bbf7d0;
    cursor: not-allowed;
    opacity: 0.7;
}

#btn-replay {
    background-color: #fde047;
    color: #000;
}

#btn-replay:disabled {
    background-color: #fef08a;
    cursor: not-allowed;
    opacity: 0.7;
}